html,
body {
    margin: 0;
}

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 0;
    margin: 0;
}

.login_box {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    outline: none;
    background: transparent;

    .user_box {
        margin-top: 10px;
        width: 100%;
        padding-bottom: 10px;
        font-size: 16px;
        color: #000;
        margin-bottom: 10px;
        outline: none;
        background: transparent;
    }

    .title {
        font-size: 14px;
        color: #000;
        font-weight: 500;
    }

    .input {
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #000;
        margin-bottom: 10px;
        outline: none;
        background: transparent;
    }

    .remember_forgot {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .btn_login {
        width: 100%;
        margin-top: 10px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        border: #a37a10 solid 2px;
        border-radius: 8px;
        background-color: #a37a10;
        text-decoration: none;
    }
}